.app {
    text-align: center;
  }

  .app__textual{
      width: 50%;
      float: left;
      /*background: orange;*/
      height: 100vh;
      align-items: center;
      /*padding-top: 10px;*/
  }

  .app__visual{
      margin-left:50%;
      /*background: yellow;*/
      height: 100vh;
  }