.App {
    text-align: center;
  }

  .Textual{
      width: 50%;
      float: left;
      /*background: orange;*/
      height: 100vh;
  }

  .Visual{
      margin-left:50%;
      /*background: yellow;*/
      height: 100vh;
  }