.header__searchbar {
  text-align: left;
  flex : 1;
}

.header__logo {
  text-align: left;
  flex :2;
}

.header__menu {
}

.header__filterdropdown {
  text-align: left;
  flex: 1;
}


.header{
  height: 50px;
  background-color: white;
  box-shadow: -16px -8px 11px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}